<footer>
  <div class="first">
    <a href="mailto:verena.ortlieb@gmail.com?subject=Let's talk" rel="nofollow">Mail</a></li>
    <a href="https://www.instagram.com/verena_von_o/" target="_blank" rel="nofollow">Instagram</a>
    <a href="https://de.linkedin.com/in/verena-ortlieb-5174babb" target="_blank" rel="nofollow">LinkedIn</a>
    <a href="https://www.xing.com/profile/Verena_Ortlieb" target="_blank" rel="nofollow">Xing</a>
  </div>

    <div class="footer-menu-lang">
{% for language in site.languages %}
    {% if page.language == language %}
      <a title="{% tl language %}">{% tl language %}</a>
    {% else %}
      <a href="{{ site.baseurl }}/{{ language }}/{{current[2]}}" title="{{ tl switch_language }}">{% tl language %}</a>
    {% endif %}
{% endfor %}
</div>

  <div class="second">
    Design and content © 2016 Verena Ortlieb
  </div>
</footer>
