<header>
  <div class="header-logo">
    <a href="/en">
      Verena Ortlieb
    </a>
  </div>
  <div class="header-text">
    <!-- <p>Hello, my name is Verena <br> & <br>I'm a UX Designer.</p> -->
  </div>

  {% assign current = page.url | downcase | split: '/' %}

  <nav>
    <ul class="header-menu">
      <li><a href="/en/projects" {% if current[2] == "projects.html" %}class="current"{% endif %}>Projects</a></li>
      <li><a href="/en/writing" {% if current[2] == "writing.html" %}class="current"{% endif %}>Writing</a></li>
    </ul>
  </nav>
<div class="header-menu-lang">
{% for language in site.languages %}
    {% if page.language == language %}
      <a title="{% tl language %}">{% tl language %}</a>
    {% else %}
      <a href="{{ site.baseurl }}/{{ language }}/{{current[2]}}" title="{{ tl switch_language }}">{% tl language %}</a>
    {% endif %}
{% endfor %}
</div>
</header>


