<h2 class="headline-index">Hey there, <br> I am Verena.</h2>

<p>I am a UX/UI Designer traveling the world. I currently work as a freelancer for different clients on various projects. Common goal of all these projects is to create a positive User Expericence. I can help developing a new concept, accompany the development process or revise existing products. <br>
In addition to that I do 2-Animations, Icons and other graphical elements for various projects. This way I am able to integrate my passion for drawing, painting and creating into my work.</p>

<h3 class="subheadline-index">Latest Writing</h3>
  {% for post in site.posts limit: 1 %}
  	{% if post.language == page.language %}
	<div class="index-post-container">
		<div class="index-post-container__date" datetime="{{ post.date | date_to_xmlschema }}" pubdate="pubdate">{{ post.date | tdate: 'post.date_format' }}</div>
		<h2 class="index-post-container__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p class="index-post-container__text">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<a href="{{ post.url }}">Weiter lesen...</a></p>
	</div>
	{% endif %}
	{% endfor %}

<h3 class="subheadline-index">Some Say its Art</h3>

<p>Aside from work I like to draw and sketch. Some of the outcome you can find here or on my <a href="https://www.instagram.com/verena_von_o/" target="_blank">instagram account</a>.
</p>

<div class="grid">
	<div class="grid-cell">
		<img src="/img/breakfast.jpg" alt="breakfast">
	</div>
	<div class="grid-cell">
		<img src="/img/love.png" alt="love">
	</div>
	<div class="grid-cell">
		<img src="/img/love-404.png" alt="love-404">
	</div>

	<div class="grid-cell">
		<img src="/img/deer.jpg" alt="Deer">
	</div>
	<div class="grid-cell">
		<img src="/img/done-icon.png" alt="Done App">
	</div>
	<div class="grid-cell">
		<img src="/img/Ballerina.jpg" alt="Ballerina">
	</div>
</div>

<h3 class="subheadline-index">Anything Else</h3>
<p>Starting in summer 2016, me and <a href="http://www.florianbuerger.com" target="_blank">my handsome husband</a> are going to start our next adventure. After selling almost all our stuff we start to travel the world while working on projects for clients, but also on some ideas of our own. If you want to read more about our adventures, you can find <a href="" target="_blank">our blog here</a> and see some pictures <a href="https://www.instagram.com/immerguteswetter/" target="_blank">here on Instagram</a>.</p>
