<footer>
  <div class="first">
    <a href="mailto:verena.ortlieb@gmail.com" rel="nofollow">Mail</a></li>
    <a href="https://www.instagram.com/verena_von_o/" target="_blank" rel="nofollow">Instagram</a>
    <a href="https://de.linkedin.com/in/verena-ortlieb-5174babb" target="_blank" rel="nofollow">LinkedIn</a>
    <a href="https://www.xing.com/profile/Verena_Ortlieb" target="_blank" rel="nofollow">Xing</a>
  </div>
  <div class="second">
    Design und Inhalt © 2016 Verena Ortlieb
  </div>
</footer>
