<footer>
  <div>
    <ul class="footer-links">
      <li><a href="mailto:verena.ortlieb@gmail.com">Mail</a></li>
      <span class="divider-small"></span>
      <li><a href="https://www.instagram.com/verena_von_o/" target="_blank">Instagram</a></li>
      <span class="divider-small"></span>
      <li><a href="https://de.linkedin.com/in/verena-ortlieb-5174babb" target="_blank">LinkedIn</a></li>
      <span class="divider-small"></span>
      <li><a href="https://www.xing.com/profile/Verena_Ortlieb" target="_blank">Xing</a></li>
      <span class="divider-small"></span>
      <li><a href="http://löwenzähnen-leicht-gemacht.de" target="_blank">Blog</a></li>
    </ul>
  </div>
  <span class="divider"></span>
  <div class="footer-rechts">
    <p>Design and content © 2016 Verena Ortlieb</p>
  </div>
</footer>
