<header>
  <div class="header-logo">
    <a href="/">
      Verena Ortlieb
    </a>
  </div>
  <div class="header-text">
    <!-- <p>Hello, my name is Verena <br> & <br>I'm a UX Designer.</p> -->
  </div>

  {% assign current = page.url | downcase | split: '/' %}

  <nav>
    <ul class="header-menu">
      <li><a href="/projects" {% if current[1] == "projects.html" %}class="current"{% endif %}>Projects</a></li>
      <li><a href="/writing" {% if current[1] == "writing.html" %}class="current"{% endif %}>Writing</a></li>
      <!-- <li><a href="/about" {% if current[1] == "about.html" %}class="current"{% endif %}>About</a></li> -->
    </ul>
  </nav>

</header>
