---
permalink: style.css
---

// colors

$link-hover: #E16420;
$font-color-dark: #010203;
$background-box: #F5F6F8;
$text-highlight-green: #1392A9;

// basic

#site {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}


@media all and (max-width: 700px) {
  #site {
  margin: 0 1.5em;
  }
}


.back-link {
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 3em;
}


strong {
  font-style: bold;
}

em {
  font-style: italic;
}

.en .en, .de .de {
  color: $link-hover;
}


// font

:root {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: normal;
  color: $font-color-dark;
}

li{
  list-style: none;
}

strong {
  font-weight: 600;
}

.headline {
  font-family: "Abril Fatface", serif;
  color: $link-hover;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 3em;
}

.headline-index {
  font-family: "Abril Fatface", serif;
  color: $link-hover;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.subheadline-index {
  font-family: "Abril Fatface", serif;
  color: $link-hover;
  margin-top: 2em;
  font-weight: 400;
  margin-bottom: 0em;
}

h2{
  font-size: 2em;
  font-weight: 700;
  color: $link-hover;
  font-family: "Abril Fatface", serif;
}

h3{
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.5em;
   color: $link-hover;
  font-family: "Abril Fatface", serif;
}

p {
  font-size: 1em;
  line-height: 1.75em;
  margin-bottom: 1em;
}

/*unvisited link*/
a:link{
  color: $text-highlight-green;
  text-decoration: none;
}

/*visited link*/
a:visited{
  color: $text-highlight-green;
  text-decoration: none;
}

/*mouse over link*/
a:hover{
  color: $link-hover;
  border-bottom: 1px solid $link-hover;
}


a.current {
  color: $link-hover;
}

a:active {
    color: $link-hover;
}





// header

header {
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


@media all and (max-width: 700px) {
header {
  margin-bottom: 2em;
  flex-flow: column;
  align-items: center;
}
  }

.header {
  padding-bottom: 0.5em;
}
.header .active {
  color: $link-hover;
}

// index


.grid {
  flex-flow: row wrap;
  display: flex;
}

.grid-cell {
  flex: auto;
  width: 150px;
  margin: 0.25em;
}

.grid-cell img {
  width: 100%;
  height: auto;
}

.grid a:hover {
  border-bottom: none;
}

.index-post-container__date {
  font-size: 1em;
  font-weight: 300;
  margin-top: 1em;
}
.index-post-container__title {
  font-size: 1.5em;
  font-weight: 700;
  color: $text-highlight-green;
  margin-bottom: 0.5em;
}
.index-post-container__text {
  font-size: 1em;
  line-height: 1.75em;
  margin-bottom: 1em;
}



// projects

.grid-projects {
  flex-flow: row wrap;
  display: flex;
  margin: 1.5em 0;
}

.grid-cell-projects {
  flex: auto;
  width: 150px;
  margin: 0.25em;
}

.grid-cell-projects img {
  width: 100%;
  height: auto;
}

.grid-projects a:hover {
  border-bottom: none;
}

.project-sub-headline {
    color: $text-highlight-green;
  margin: 50px 0 10px 0;
  font-size: 1.5em;
}


// projects text 

.project-sub-content h3 {
  color: $text-highlight-green;
  margin: 50px 0 10px 0;
  font-size: 1.8em;
}

.project-sub-content h4 {
  font-weight: 600;
  color: $text-highlight-green;
  margin: 40px 0 15px 0;
  font-size: 1.25em;
}

.box-subproject-img {
  background-color: $background-box;
  margin: 20px 0;
  padding: 20px;
  max-height: 400px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-subproject-img img {
  max-height: 100%;
  max-width: 100%;
}


.grid-sub-projects {
  flex-flow: row wrap;
  display: flex;
  margin: 1.5em 0;
}

.grid-cell-sub-projects {
  flex: auto;
  width: 200px;
  margin: 0.25em;
}

.grid-cell-sub-projects img {
  width: 100%;
  height: auto;
}

.grid-sub-projects a:hover {
  border-bottom: none;
}

.project-sub-title {
  color: $text-highlight-green;
  font-weight: 600;
  margin: -3em 0 1em 0;
  font-size: 1.5em;
  }


// writing


.post-container__date {
  font-size: 1em;
  font-weight: 300;
}
.post-container__title {
  font-size: 1.75em;
  font-weight: 700;
  color: $text-highlight-green;
  margin-bottom: 0.5em;
}

.post-container__text {
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 5em;
  border-bottom: 2px solid #E7E7E7;
  padding-bottom: 3em;

}

.post-date {
  font-size: 1em;
  font-weight: 300;
  margin-top: 1em;
}

 .post-title {
    font-size: 1.75em;
    font-weight: 700;
    color: $link-hover;
    margin-bottom: 1em;
    font-family: "Abril Fatface", serif;
    margin-top: 0em;
  }

.post 
    li {
    line-height: 2em;
    list-style: disc
}
  



// footer
footer {
  margin-top: 3em;
  margin-bottom: 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  color: $text-highlight-green;
  font-size: 0.85rem;

  .first {
    flex-grow: 1;
    a {
      margin-right: 0.75em;
    }
  }
  .second {
    flex-grow: 2;
    text-align: right;
  }
}

.footer-menu-lang {
  font-size: 1.5rem;
}



@media all and (max-width: 700px) {
  footer {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 3em;

    .first, .second {
      a {
        margin-right: 0.5em;
        margin-left: 0.5em;
      }

      flex-direction: row;
      text-align: center;
    }
    .second {
      margin-top: 1em;
    }
    .footer-menu-lang {
      margin-top: 1em;
    }
  }
}
