.box-about-img {
	height: 400px;
	max-width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-box;
	margin: 20px 0;
}

.box-about-img img {
	max-width: 100%;
	max-height: 100%;
}
