$header-footer-background: #1392A9;
$link-hover: #E16420;
$font-color-dark: #010203;
$background-box: #F5F6F8;
$box-shadow: #031634;
$text-highlight-green: #1392A9;
$text-white: white;
$font-color-grey: #99B2B7;
