footer {
	margin-bottom: 2em;

	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;

	color: $text-highlight-green;
	font-size: 0.85rem;

	.first {
		flex-grow: 1;
		a {
			margin-right: 1em;
		}
	}
	.second {
		flex-grow: 2;
		text-align: right;
	}
}

@media all and (max-width: 700px) {
	footer {
		flex-flow: column nowrap;
		align-items: center;
		margin-bottom: 3em;

		.first, .second {
			a {
				margin-right: 0.5em;
				margin-left: 0.5em;
			}

			flex-direction: row;
			text-align: center;
		}
		.second {
			margin-top: 1em;
		}
	}
}
