header {
	font-size: 1.25em;
	align-items: center;
	// background-color: $header-footer-background;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding: 40px 0;
}

a.current {
	color: $link-hover;
}

@media all and (max-width: 700px) {
header {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	padding: 30px 8px 17px 8px;
}
	}

.header-logo a{
	text-decoration: none;
	font-size: 1.25em;
	padding: 0.8em 0;
}

@media all and (max-width: 700px) {
	.header-logo a{
		padding-bottom: 0;
	}
}

.header-logo a.hover{
	color: $link-hover;
}

.header-text {
	// background-color: green;
	flex-grow: 1;
	text-align: center;
	padding-top: 10px;
}

.header-menu {
	// background-color: red;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.header-menu a {
	padding: 0.8em;
}

@media all and (max-width: 700px) {
	.header-menu a {
		padding-bottom: 0;
	}
}
