.title-page-project {
	text-align: left;
	padding: 50px 0 0 0;
}

@media all and (max-width: 700px) {
		.title-page-project {
			padding: 50px 50px 20px 50px;
		}
}

.title-page-project h2{
	padding-bottom: 20px;
	color: $link-hover;
	font-size: 2em;
	font-weight: 400;
}

.box-project-ganz {
	// display: -webkit-flex;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	color: $font-color-dark;
	text-align: left;
	padding: 50px 0;
}

@media all and (max-width: 700px){
	.box-project-ganz {
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-flow: column;
		justify-content: center;
		color: $font-color-dark;
		text-align: left;
		padding: 30px 50px 17px 50px;
	}
}

.box-project-img {
	max-width: 400px;
	min-width: 250px;
	}

.box-project-img img {
	width: 100%;
	// border-radius: 12px;
}

.box-project-img a:hover {
	border-bottom: none;
}

.box-project-text {
	margin: auto 20px;
}

@media all and (max-width: 700px){
	.box-project-text {
		margin: 10px 0;
		width: 400px;
	}
}

.box-project-text h2 {
	color: $text-highlight-green;
	padding-bottom: 10px;
}

.box-project-text p {
	line-height: 1,5;
}




// Unterseiten
.project-sub-title {
	padding: 50px 0 30px 0;
}

@media all and (max-width: 700px) {
	.project-sub-title {
			padding: 50px 50px 0 50px;
		}
}

.project-sub-title h2 {
	color: $link-hover;
	font-size: 2em;
	font-weight: 400;
	padding: 50px 0 20px 0;
}

.project-sub-content {
	padding: 30px 0;
}

@media all and (max-width: 700px) {
	.project-sub-content {
		padding: 30px 50px;
	}
}

.project-sub-content h3 {
	color: $text-highlight-green;
	padding: 30px 0 10px 0;
	font-size: 1.8em;
}

.project-sub-content h4 {
	font-weight: 600;
	color: $text-highlight-green;
	padding: 40px 0 15px 0;
	font-size: 1.25em;
}

.box-subproject-img {
	background-color: $background-box;
	margin: 20px 0;
	padding: 20px;
	max-height: 400px;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-subproject-img img {
	max-height: 100%;
	max-width: 100%;
}


.back-to {
	font-size: 2em;
	margin-top: 40px;
}
