.post {
  p {
    margin-bottom: 1em;
    line-height: 2em;
  }
  h3 {
    color: $link-hover;
    font-size: 1.5em;
    padding: 15px 0;
  }
	li {
	  padding: 5px 0;
	  list-style: disc;
	  list-style-position: inside;
	}
	img {
	  max-height: 400px;
	  max-width: 100%;
	  padding: 20px 0;
	}
	.post-title {
	  font-size: 1.75em;
	  font-weight: 700;
	  color: $link-hover;
		margin-bottom: 2em;
	}
}
@media all and (max-width: 700px) {
  .title-page-post {
    padding: 50px 50px 20px;
    width: auto;
  }
}

.post-container__date {
  font-size: 1em;
  font-weight: 300;
}
.post-container__title {
  font-size: 1.75em;
  font-weight: 700;
  color: $text-highlight-green;
	margin-bottom: 0.5em;
}
.post-container__text {
  font-size: 1em;
  line-height: 1.5em;
	margin-bottom: 5em;
}
