<h2 class="headline-index">Hallo,<br>ich bin Verena.</h2>

<p>Ich bin UX Designer, UI Designer, Problemlöser, Ideenentwickler, Feedbackgeber und viel, viel mehr. All meine Arbeit ist geprägt durch die Verbindung von Design mit psychologischen Erkenntnissen um eine positive User Experience zu schaffen.</p>

<h3 class="subheadline-index">Die letzten Blogeinträge</h3>
  {% for post in site.posts limit: 3 %}
  	{% if post.language == page.language %}
	<div class="index-post-container">
		<time class="post-container__date" datetime="{{ post.date | date_to_xmlschema }}" pubdate="pubdate">{{ post.date | tdate: 'post.date_format' }}</time>
		<h2 class="index-post-container__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	</div>
	{% endif %}
	{% endfor %}

<h3 class="subheadline-index">Kunst, Künstlerisches und Künstliches</h3>

<p>Bei der Arbeit, aber auch in meiner Freizeit zeichne und male ich gerne. Einige der Resutate gibt es hier zu sehen, oder auf meinem <a href="https://www.instagram.com/verena_von_o/" target="_blank">Instagram Account</a>.
</p>

<div class="grid">
	<div class="grid-cell">
		<img src="/img/breakfast.jpg" alt="breakfast">
	</div>
	<div class="grid-cell">
		<img src="/img/love.png" alt="love">
	</div>
	<div class="grid-cell">
		<img src="/img/love-404.png" alt="love-404">
	</div>
	<div class="grid-cell">
		<img src="/img/deer.jpg" alt="Deer">
	</div>
	<div class="grid-cell">
		<img src="/img/done-icon.png" alt="Done App">
	</div>
	<div class="grid-cell">
		<img src="/img/Ballerina.jpg" alt="Ballerina">
	</div>
</div>

<h3 class="subheadline-index">Außerdem noch...</h3>
<p>Momentan lebe ich in Stuttgart, aber ich liebe es zu reisen. Aus diesem Grund werde ich im Sommer 2016 gemeinsam mit meinem <a href="http://www.florianbuerger.com" target="_blank"> handsome husband</a> zu neuen Abenteuern aufbrechen. Nachdem wir fast all unsere Sachen verkauft haben beginnen wir die Welt zu bereisen. Unterwegs werden wir weiter für Kunden arbeiten, aber auch eigene Projekte verfolgen.</p>
