---
title: Verena Ortlieb
permalink: /
type: pages
lang: en
desc: "Personal website from Verena. She loves puppies."
---


<h2 class="headline-index">Hey there, <br> I am Verena.</h2>

<p>I am an UX/UI & Icon Designer and Illustrator travelling the world. Currently I am working as a freelancer for various clients on a wide range of projects. I love new challenges.<br>
Besides showing some of my work this website is my first coding project. Hope you like it as much as I do.


<h3 class="subheadline-index">Some Say its Art</h3>

<p>Over time I made a lot of Logos, Illustations and so on. Most of them you can find on my <a href="https://www.instagram.com/verena_von_o/" target="_blank">Instagram account</a> or on <a href="https://dribbble.com/verena_von_o" target="_blank">Dribbble</a>. Here are some of the newest:</a>.
</p>


<section>
	<div class="grid shots">
	</div>
</section>

<h3 class="subheadline-index">Latest Writing</h3>

{% for post in site.posts %}
	{% assign latestShown = false %}
		{% if post.lang == page.lang %}
			{% assign latestShown = true %}

{% include date.html date=post.date %}
<time class="index-post-container__date">
{{ month }} {{ day }}, {{ year }}  </time>

<div class="index-post-container__title"> <a href="{{ post.url }}">
{{ post.title }}</a></div>

<div class="index-post-container__text">
{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<a href="{{ post.url }}">Continue reading...</a>

				{% endif %}
			{% if latestShown == true %}
		{% break %}
	{% endif %}
{% endfor %}


<h3 class="subheadline-index">Anything Else</h3>
<p>Starting in summer 2016, me and <a href="http://www.florianbuerger.com" target="_blank">my handsome husband</a> are going to start our next adventure. After selling almost all our stuff we start to travel the world while working on projects for clients, but also on some ideas of our own. If you want to read more about our adventures, you can find <a href="https://www.immerguteswetter.de" target="_blank">our blog here</a> and see some pictures <a href="https://www.instagram.com/immerguteswetter/" target="_blank">here on Instagram</a>.</p>
 
